body{
    background: linear-gradient(120deg, #2980b9, #8e44ad);
    height: 100vh;
    overflow: hidden;
}

.wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    background: white;
    border-radius: 10px;
}

.chat-area header{
    display: flex;
    align-items: center;
    padding: 18px 30px;
}

.chat-area header span{
    font-size: 17px;
    font-weight: 500;
}

.chat-box{
    margin: 15px 0px;
    height: 500px;
    background: #f7f7f7;
    padding: 10px 30px 20px 30px;
    box-shadow: inset 0 32px 32px -32px rgb(0 0 0 / 5%), inset 0 32px 32px -32px rgb(0 0 0 / 5%);
    overflow-y: auto;
}

.chat-box::-webkit-scrollbar{
    width: 0px;
}

.chat-box p{
    padding: 8px 16px;
    box-shadow: 0px 0px 32px rgb(0 0 0 / 8%), 0px 16px 16px -16px rgb(0 0 0 / 10%);
    word-wrap: break-word;
}

.outgoing{
    display: flex;
}

.outdetail{
    margin-left: auto;
    max-width: calc(100% - 130px);
}

.outdetail p{
    background: #333;
    color: #fff;
    border-radius: 18px 18px 0px 18px;
}

.incoming{
    display: flex;
    align-items: flex-end;
}

.indetail{
    margin-left: 5px;
    margin-right: auto;
    max-width: calc(100% - 130px);
}

.indetail p{
    color: #333;
    background: #fff;
    border-radius: 18px 18px 18px 0px;
}

.typing-area{
    padding: 18px 30px;
    display: flex;
    justify-content: space-between;
}

.typing-area input{
    height: 45px;
    width: calc(100% - 58px);
    font-size: 17px;
    border: 1px solid #ccc;
    padding: 0px 13px;
    border-radius: 5px 0px 0px 5px;
    outline: none;
}

.typing-area button{
    width: 55px;
    border: none;
    outline: none;
    border-radius: 0px 5px 5px 0px;
    background: #333;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}



/*-----------------------------------------------imported from landing-----------------------------------------------*/
.container{
    width: 100%;
    min-height: 100vh;
}
.row{
    width: 90%;
    padding: 0px 80px;
}
.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    position: relative;
    z-index: 1;
}
.navbar ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.navbar ul li{
    list-style: none;
}
.navbar ul li a{
    padding: 10px 18px;
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
}
.navbar ul li a:hover{
    background-color: #5d88d5;
    opacity: 1;
}
.navbar h1{
    color: #fff;
    font-size: 35px;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 10px;
}