*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.view{
    min-height: 100vh;
    /* background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%); */
    background-image: url("../images/calendar.jpg");
    background-repeat: no-repeat;
    background-position: right;
    background-size:contain;
}

.box{
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* align-items: center; */
    /* width: 100%; */
    min-height: 40vh;
    /* overflow-y: auto;
    padding: 20px 15px; */
    /* background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%); */
}

.appts{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5px;
    width: 1000px;
    background-color: #29299ebd;
    /* padding: 10px; */
    margin-top: 5px;
    color: #ffffff;
}

.result-notes{
    /* display: flex; */
    /* justify-content: space-between; */
    /* align-items: center; */
    width: 1000px;
    padding: 5px 5px;
    word-wrap: break-word;
    /* margin-top: 5px; */
    color: white;
    background-color: #29299ebd;
}

button{    
    border-radius: 8px;
    font-size: 17px;
}

button:hover{
    cursor: pointer;
}

button:active{
    transform: translateY(1px);
}

.accept{
    padding: 2px 3px 3px 3px;
    background-color: #00c760;
}

.deny{
    padding: 2px 7px 3px 7px;
    background-color: rgb(235, 4, 4);
}

.result{
    width: 20%;
    word-wrap: break-word;
}



/*-----------------------------------------------imported from landing-----------------------------------------------*/
.container{
    width: 100%;
    background: linear-gradient(120deg, #2980b9, #8e44ad);
}
.row{
    width: auto;
    padding: 0px 40px;
}
.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    position: relative;
    z-index: 1;
}
.navbar ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.navbar ul li{
    list-style: none;
}
.navbar ul li a{
    padding: 10px 18px;
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
}
.navbar ul li a:hover{
    background-color: #5d88d5;
    opacity: 1;
}
.navbar h1{
    color: #fff;
    font-size: 35px;
    font-weight: 500;
    margin-top: 10px;
}